<div class="top">
  <div class="row">
    <div class="col-md-9 texto">
      <h4>SOPORTE</h4>
      <p>24 hours | 7 days a week | 365 days a year    Live Technical Support</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
    </div>
    <div class="col-md-3">
      <img src="https://p.w3layouts.com/demos/smart_store/web/images/contact.png" class="img-fluid" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 texto">
      <h4>CONTACTANOS</h4>
      <form action="">
        <div class="form-group">
          <label for="">NOMBRE</label>
          <input type="text" class="form-control" name="" value="">
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="">E-MAIL</label>
            <input type="email" class="form-control" name="" value="">
          </div>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="">TELÉFONO</label>
            <input type="text" class="form-control" name="" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="">MENSAJE</label>
          <textarea name="" class="form-control" id="" cols="30" rows="8"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary float-right">ENVIAR</button>
        </div>
      </form>
    </div>
    <div class="col-md-4 texto">
      <h4>ENCUENTRANOS</h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15893.492514176454!2d-80.6348198!3d-5.2039106!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xffb7a5accdb986ff!2sRestaurante+Dieggos!5e0!3m2!1ses-419!2spe!4v1520270425554" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <br><br>
      <div class="info">
        <h4>INFORMACIÓN</h4>
        <p>500 Lorem Ipsum Dolor Sit,</p>
        <p>22-56-2-9 Sit Amet, Lorem,</p>
        <p>USA</p>
        <p>Phone:(00) 222 666 444</p>
        <p>Fax: (000) 000 00 00 0</p>
      </div>
    </div>
  </div>
</div>
