<div class="row">
    <div class="col-md-4 top">
        <img src="assets/imgs/logo.png" alt="">
    </div>
    <div class="col-md-4 top-2">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar Productos" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn boton" type="button">Buscar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 top-2">
        <div class="row">
            <div class="col-9 col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn boton2" routerLink="/carrito" type="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    </div>
                    <input type="text" readonly class="form-control" [value]="total" aria-label="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-3 col-md-4">
                <button type="button" (click)="opcion()" class="btn btn-secondary">
                    <i *ngIf="!_loginService.estaLogueado()"  class="fa fa-user"></i>
                    <i *ngIf="_loginService.estaLogueado()"  class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <nav class="menu">
            <a appMenu routerLinkActive="active" routerLink="/home">HOME</a>
            <a appMenu routerLinkActive="active" routerLink="/products">CATEGORÍAS</a>
            <a appMenu routerLinkActive="active" routerLink="/top">MARCAS</a>
            <a appMenu routerLinkActive="active" routerLink="/services">SERVICIOS</a>
            <a appMenu routerLinkActive="active" routerLink="/about">SOBRE NOSOTROS</a>
            <a appMenu routerLinkActive="active" routerLink="/contact">CONTACTO</a>

        </nav>
    </div>
</div>