<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 items">
                <div class="cabecera">
                    <h5>INFORMACION</h5>
                </div>
                <div class="text">
                    <p>Sobre Nosotros</p>
                    <p>Servicio al Cliente</p>
                    <p>Búsqueda Avanzada</p>
                    <p>Pedidos</p>
                    <p>Contactarnos</p>
                </div>



            </div>
            <div class="col-md-3 items">
                <div class="cabecera">
                    <h5>SERVICIO</h5>
                </div>
                <div class="text">
                    <p>Sobre Nosotros</p>
                    <p>Servicio al Cliente</p>
                    <p>Políticas de Privacidad</p>
                    <p>Mapa</p>
                    <p>Buscar Términos</p>
                </div>



            </div>
            <div class="col-md-3 items">
                <div class="cabecera">
                    <h5>MI CUENTA</h5>
                </div>
                <div class="text">
                    <p>Ingresar</p>
                    <p>Ver Carrito</p>
                    <p>Mi Lista de deseos</p>
                    <a routerLink="/orders">Seguir mi Orden</a>
                    <p>Ayuda</p>
                </div>



            </div>
            <div class="col-md-3 item">
                <div class="cabecera">
                    <h5>CONTACTO</h5>
                </div>
                <div class="text">
                    <p>+91-123-456789</p>
                    <p>+00-123-000000</p>
                </div>
                <div class="cabecera">
                    <h5>SIGUENOS</h5>
                </div>
                <div class="text">
                    <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="" class="google"><i class="fa fa-google-plus"></i></a>
                    <a href="" class="envelope"><i class="fa fa-envelope-o"></i></a>
                </div>

            </div>
        </div>
    </div>
</footer>